<div class="jumbotron">
    <h1>Receipt Reader</h1>
    <p>Manage your shopping bills in one place.</p>
        @Html.ActionLink("Login", "Login", new { controller = "Account" }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Register", "Register", new { controller = "Account" }, new { @class = "btn btn-primary btn-lg" })
</div>

